/* === INDEX === */
.carrusel-index {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    .carousel-item{
        img{
            width: 20em;
        }
    }
}

.div-cuadros {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;

    .boxes {
        width: 48vh;
        margin: 10px;
        padding: 25px;
        background-color: $transparencia;

        &:hover {
            transform: scale(1.1, 1.1);
        }

        h2 {
            font-weight: bold;
            font-size: 1.2rem;

            i {
                padding: 10px;
            }
        }

        p {
            margin-left: 10px;
            font-size: 1rem
        }
    }
}
.seccionRecetas{
min-height: 100%;
width: 100% ;
display: flex;
align-items: center;
justify-content: center;
padding: 50px;
    .recetas{
        width: 90%;
        height: auto;
        max-width: 1200px;
        margin: 0 auto;
        .title-general{
            margin-bottom: 10px;
            margin-top: 10px;
            font-size: 50px;
            text-align: center;
        }
        form{
            width:90%;
            max-width: 1600px;
            margin: 20px;
           
            .input{
                width: 100%;
                background-color: aquamarine;
                padding: 12px;
                border: none;
                outline: none;
                font-size: 20px;
                display: inline-block;
                align-items: center;
                justify-content: center;

            }

        }
        .buscar{
            margin-top: 40px;
            width: 100%;
            display: grid;
            grid-gap: 25px;
            grid-template: auto/repeat(auto-fit , minmax(300 , 1fr));

            .item{
                margin: auto;
                width: 100%;
                padding: 15px;
                overflow: hidden;
                border-radius: 20px;


                img{
                    width: 50%;
                    height: 300px;
                    border-radius: 10px;
                    margin: 10px 10px 10px 250px;
                }
                .flex-container{
                    display: flex;
                    align-items: center;
                    
                    .card-title{
                        margin: 10px 10px 10px 250px;
                        font-size: 1.8rem;
                        font-weight: 400;
                        justify-content: center;

                    }
                    .enlace{
                        text-decoration: none;
                        color:grey;
                        text-align:center;
                        width: 100px;
                        padding: 10px 0;
                        font-size: 25px;
                        margin: 30px;
                        align-self: flex-start;
                        border-radius: 5px;
                        background-color: aquamarine;

                    }
                }
                .recetaDesc{
                    display: block;
                    margin-top: 10px;
                    font-size:1.4rem;
                    margin: 10px 10px 10px 250px;
                }
            }
            
        }
    }
}